<!-- component -->
<nav class="flex items-center justify-between flex-wrap p-6 bg-white w-full">
  <div class="flex items-center flex-no-shrink text-gray-500 mr-6">
    <span class="font-semibold text-xl tracking-tight">ByCoders - RoR Challenge</span>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <%= link_to 'Home', root_path, class: "block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-gray-500 mr-4" %>
      <%= link_to 'Transações', transactions_path, class: "block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-gray-500 mr-4" %>
    </div>
    <div>
      <%= link_to('Sair', destroy_user_session_path, method: :delete, class: "inline-block text-sm px-4 py-2 leading-none border rounded text-gray-500 border-white hover:border-transparent hover:text-teal hover:bg-white mt-4 lg:mt-0") %>
    </div>
  </div>
</nav>